<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="tk.creativecursos.mapaterritorio"
        version="1.0.5">

    <name>
        Mapa do Território
    </name>

    <description>
        Aplicativo que exibe o território de pregação da congregação Leste de Teófilo Otoni, devidamente mapeado com o número de casas em cada quarteirão.
    </description>

    <author email="softwareknight.comp@gmail.com">
        Software Knight
    </author>

    <icon src="icon.png" />

    <preference name="orientation" value="landscape" />
    <preference name="fullscreen" value="true" />
    <platform name="android" />
    
</widget>
